$border-color: darkblue;
body {
    background-color: #dedede;
    font-family: "Montserrat", sans-serif;
}


.navbar {
    background: #000;
    ul {
        li {
            a{
                padding-left: 5%;
                padding-right: 5%;
                border-bottom: 2px solid $border-color;
                border-radius: 0%;
                height: auto;
                color: #fff;
            }
       
        }
        li:hover {
            a{
               padding-bottom: 5%;
               border-radius: 20%;
            }
       
        }
    }
}
